<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../admincss/bootstrap.min.css">
<link rel="stylesheet" href="../admincss/datepicker.min.css">
<script src="../assets/vendor/jquery/jquery-3.3.1.min.js"></script>
<script src="../adminjs/bootstrap.min.js"></script>
<script src="../adminjs/bootstrap-datepicker.min.js"></script>
<script>
	$(function() {
		var startDate = new Date();
		var fechaFin = new Date();
		var FromEndDate = new Date();
		var ToEndDate = new Date();

		$('.yearFrom').datepicker({
			autoclose : true,
			minViewMode : 2,
			format : 'yyyy'
		}).on(
				'changeDate',
				function(selected) {
					startDate = new Date(selected.date.valueOf());
					startDate.setDate(startDate.getDate(new Date(selected.date
							.valueOf())));
					$('.to').datepicker('setStartDate', startDate);
				});

		$('.yearTo').datepicker({
			autoclose : true,
			minViewMode : 2,
			format : 'yyyy'
		}).on(
				'changeDate',
				function(selected) {
					FromEndDate = new Date(selected.date.valueOf());
					FromEndDate.setDate(FromEndDate.getDate(new Date(
							selected.date.valueOf())));
					$('.from').datepicker('setEndDate', FromEndDate);
				});
		//-----------------------------------------------------------------------------
		$('.monthFrom').datepicker({
			autoclose : true,
			minViewMode : 1,
			format : 'yyyy/mm'
		}).on(
				'changeDate',
				function(selected) {
					startDate = new Date(selected.date.valueOf());
					startDate.setDate(startDate.getDate(new Date(selected.date
							.valueOf())));
					$('.to').datepicker('setStartDate', startDate);
				});

		$('.monthTo').datepicker({
			autoclose : true,
			minViewMode : 1,
			format : 'yyyy/mm'
		}).on(
				'changeDate',
				function(selected) {
					FromEndDate = new Date(selected.date.valueOf());
					FromEndDate.setDate(FromEndDate.getDate(new Date(
							selected.date.valueOf())));
					$('.from').datepicker('setEndDate', FromEndDate);
				});
		//-----------------------------------------------------------------------------
		$('.dayFrom').datepicker({
			autoclose : true,
			minViewMode : 0,
			format : 'yyyy/mm/dd'
		}).on(
				'changeDate',
				function(selected) {
					startDate = new Date(selected.date.valueOf());
					startDate.setDate(startDate.getDate(new Date(selected.date
							.valueOf())));
					$('.to').datepicker('setStartDate', startDate);
				});

		$('.dayTo').datepicker({
			autoclose : true,
			minViewMode : 0,
			format : 'yyyy/mm/dd'
		}).on(
				'changeDate',
				function(selected) {
					FromEndDate = new Date(selected.date.valueOf());
					FromEndDate.setDate(FromEndDate.getDate(new Date(
							selected.date.valueOf())));
					$('.from').datepicker('setEndDate', FromEndDate);
				});
	});
</script>
</head>
<body>
	<div class="form-group">
		<label>yyyy check in:</label> <input type="text"
			class="form-control form-control-1 input-sm yearFrom"
			placeholder="CheckIn">
	</div>

	<div class="form-group">
		<label>yyyy check out:</label> <input type="text"
			class="form-control form-control-2 input-sm yearTo"
			placeholder="CheckOut">
	</div>

	<hr>

	<div class="form-group">
		<label>mm check in:</label> <input type="text"
			class="form-control form-control-1 input-sm monthFrom"
			placeholder="CheckIn">
	</div>

	<div class="form-group">
		<label>mm check out:</label> <input type="text"
			class="form-control form-control-2 input-sm monthTo"
			placeholder="CheckOut">
	</div>

	<hr>

	<div class="form-group">
		<label>dd check in:</label> <input type="text"
			class="form-control form-control-1 input-sm dayFrom"
			placeholder="CheckIn">
	</div>

	<div class="form-group">
		<label>dd check out:</label> <input type="text"
			class="form-control form-control-2 input-sm dayTo"
			placeholder="CheckOut">
	</div>
</body>
</html>

