<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">


	<bean id="hd" class="com.kitri.hello3.HelloDao"/>
	<!-- <bean id="hs" class="com.kitri.hello3.HelloServiceKor" >
		<constructor-arg ref="hd"/> -->
		<!-- <property name="helloDao" ref="hd"/> -->
	
</beans>
