<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<bean id="m1" class="com.kitri.ditest.MemberDto">
		<constructor-arg index="1">
			<value>이름</value>
		</constructor-arg>
		<constructor-arg>
			<value>아이디</value>
		</constructor-arg>
	</bean>
	
	<bean id="m2" class="com.kitri.ditest.MemberDto">
		<constructor-arg value="홍길동"/>
		<constructor-arg value="25" type="int"/>
	</bean>
	
	<bean id="m3" class="com.kitri.ditest.MemberDto">
		<constructor-arg value="홍길동" name="name"/>
		<constructor-arg value="100000000" name="money"/>
	</bean>
	<bean id="m4" class="com.kitri.ditest.MemberDto">
		<constructor-arg value="아이디" name="id"/>
		<constructor-arg value="이름" name="name"/>
		<constructor-arg value="123" name="age"/>
		<constructor-arg value="456" name="money"/>
	</bean>
	
	<bean id="m5" class="com.kitri.ditest.MemberDto">
		<constructor-arg value="아이디" name="id"/>
		<constructor-arg value="이름" name="name"/>
		<constructor-arg value="123" name="age"/>
		<constructor-arg value="456" name="money"/>
		<constructor-arg name="addressDto" ref="address1"/>
	</bean>
	
	<bean id="address1" class="com.kitri.ditest.AddressDto"/>
	
	<bean id="m6" class="com.kitri.ditest.MemberDto">
		<property name="id" value="test"/>
		<property name="name" value="test"/>
		<property name="age" value="456"/>
		<property name="money" value="123"/>
		<property name="addressDto" ref="address2"/>
	</bean>
	
	<bean id="address2" class="com.kitri.ditest.AddressDto" >
		<property name="zipcode" value="123"></property>
		<property name="address" value="456"></property>
		<property name="addressDetail" value="789"></property>
	</bean>
	
	<bean id="m7" class="com.kitri.ditest.MemberDto" 
		p:id="java"
		p:name="이순신"
		p:age="123"
		p:money="1234444"
		p:addressDto-ref="address3"
	/>
	
	<bean id="address3" class="com.kitri.ditest.AddressDto"
		p:zipcode="12345"
		p:address="qqqq"
		p:addressDetail="wwww"
	/>
	
</beans>
