.hobby-admin-div {
	margin: 20px auto;
	width: 800px;
	height: 200px;
	border: 2px solid gray;
}
.hobby-admin-condition>div {
	display: inline-block;
	margin: 20px auto;
	width: 800px;
	border: 2px solid gray;
}
.form-group {
	display: inline-block;
	/* !important; */
}
.admin-search {
	/* vertical-align: middle; */
	margin-left: 40px;
}
.btn-outline-primary {
	margin-top: 20px;
	margin-bottom: 20px;
}
hr {
	margin-top: 0px;
}
div.hobby-admin-search>div>button {
	width: 50px; 
	height: 35px; 
	float: right;
}

